.calculator {
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  background-color: #272727;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.display-calculator {
  background-color: #1c1c1c;
  color: white;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.input-calculator {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: white;
  text-align: right;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-calculator {
  width: 75px;
  height: 75px;
  background-color: #4d4d4d;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  outline: none;
}

.orange {
  background-color: #ff8c00;
}

.clear {
  font-size: 1.5em;
  background-color: #d9534f;
}

.button:hover {
  background-color: #333;
}

.button:active {
  background-color: #222;
}
