.weather-widget {
  max-width: 400px;
  max-height: 250px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 0.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  
}

.search-button-text {
  font-size: 1em;
  text-align: center;
 
}

.weather-conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-icon img {
  width: 80px;
  height: 80px;
}

.weather-details {
  text-align: right;
}

.temperature {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}

.feels-like {
  font-size: 1em;
  margin: 0.25em 0;
}

.humidity,
.wind {
  font-size: 0.8em;
  margin: 0.25em 0;
}

.input {
  display: block;
  width: 100%;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}

.form-weather {
  margin-left: 15px;
  margin-top: 15px;
  width: 150px;
}

.button-weather {
  height: 30px;
  margin-top: 10px;
  color: aliceblue;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button:hover {
  background-color: orangered;
  color: white;
}
