.form {
    margin-left: 15px;
}

.button {
    height: 30px;
    margin-left: 10px;
    color:aliceblue;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 4px;
   
}
.button:hover {
        background-color: orangered;
color: white;
    }
